<div class="row">
    <div class='col-2'>
      <div class='input-group mb-3'>
        <div class='input-group-prepend'>
          <div class='input-group-text'>
            <input type='checkbox' name='selectAll' id='selectAll'>
          </div> 
        </div>
      </div>
    </div>
    <div class='col-4'>Tiêu đề video</div>
    <div class='col-3'>Link video</div>
    <div class='col-3'>Ngày công bố</div>
</div>
<div class="row" id="gridview">
</div>
<div class="row">
  <div class="wrap-flex">
    <a href="javascript:prevPage()" id="btn_prev"><</a>
    <span id="page"></span>
    <a href="javascript:nextPage()" id="btn_next">></a>
  </div>
</div>
