{%extends "layout.html"%}
{%block page_content%}
<div class="container-fluid">
    <div class="row">
        <div class="col-2" style="text-align:center">
            Mục tài khoản khán giả<br>
            <button id="audianceConfiguration" class="btn btn-primary">
                Truy cập
            </button>

            <br>

            Mục tài khoản diễn giả <br>
            <button id="performanceConfiguration" class="btn btn-primary">
                Truy cập
            </button>

            <br>

            Mục dữ liệu từ YouTube <br>
            <button id="informationRequestie" class="btn btn-primary">
                Truy cập
            </button>
        </div>
        <div id="main-screen" class="col-10">
        </div>
    </div>
</div>
{%endblock%}