<div class="row">
  <div class="col-3">
      <input id="performanceAccountName" class="form-control" placeholder="Mời nhập tên tài khoản" type="text"></input>
  </div>
</div>
<br>
<div class="row">
    <div class="col">
        <div class="btn-group">
            <input id="performanceFileUploadInput" class="form-control" type="file"></input>
            <button id="performanceFileUploadButton" name="performanceFileUploadButton" class="btn btn-primary btn-sm" type="button">
              Upload
            </button>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-4">        
          Danh sách tài khoản diễn giả:
    </div>
    <div class="col-2">
        <div class="btn-group">
          <button id="audianceSelectionPresent" style="display:none" class="btn btn-sm btn-primary" type="button" aria-expanded="false">
            Lưu tài khoản
          </button>
        </div>
      </div>
</div>
<div class="row">
  <div class="col">
    <ul id="performanceAccountSelection" class="form-check form-switch">
    {%for key, value in performanceAccounts.items()%}
       <div class="li-wrap">
          {%if value["isRequired"] == 1%}
            <li>
              <input type='checkbox' value="{{value["accountName"]}}" class="form-check-input" name='performanceAccountSelection' id='performanceAccountSelection' checked>
            </li>
          {%else%}
            <li>
              <input type='checkbox' value="{{value["accountName"]}}" class="form-check-input" name='performanceAccountSelection' id='performanceAccountSelection'>
            </li>
          {%endif%}
          <li id="label">{{value["accountName"]}}</li>
        </div>
    {%endfor%}
  </ul> 
  </div>
</div>
<div class="row">
  <div class="col-2">
    <div class="btn-group">
      <button id="configurationSavingButton" name="configurationSavingButton" class="btn btn-primary" type="button" aria-expanded="false">
        Lưu thiết lập
      </button>
    </div>
  </div>

  <div class="col-2">
    <div class="btn-group">
      <button id="dataLoading" name="dataLoadingButton" class="btn btn-primary" type="button" aria-expanded="false">
        Tải dữ liệu
      </button>
    </div>
  </div>
</div>