/.venv
/.vscode
/workspace/abstractions/__pycache__
/workspace/applications/__pycache__
/workspace/applications/protocols/__pycache__
/workspace/blueprints/__pycache__
/workspace/blueprints/main/attachments/diagrams/__pycache__
/workspace/blueprints/main/attachments/diagrams/configs/__pycache__
/workspace/blueprints/main/attachments/diagrams/endpoints/__pycache__
/workspace/blueprints/main/attachments/diagrams/endpoints/home/__pycache__
/workspace/blueprints/main/attachments/diagrams/endpoints/upload/__pycache__
/workspace/blueprints/main/attachments/diagrams/programs/__pycache__
workspace\blueprints\main\attachments\diagrams\client_secret_files
workspace\blueprints\main\attachments\diagrams\client_secret_files\audiance
workspace\blueprints\main\attachments\diagrams\client_secret_files\performance
resources/abstractions/__pycache__/APIRequestion.cpython-312.pyc
resources/abstractions/__pycache__/blueprints.cpython-312.pyc
resources/abstractions/__pycache__/endpoints.cpython-312.pyc
resources/applications/__pycache__/__init__.cpython-312.pyc
resources/applications/__pycache__/engine.cpython-312.pyc
resources/applications/__pycache__/process.cpython-312.pyc
resources/applications/protocols/__pycache__/blueprints_main_stub.cpython-312.pyc
resources/blueprints/main/attachments/diagrams/__pycache__/index_diagram.cpython-312.pyc
resources/blueprints/main/attachments/diagrams/__pycache__/index_diagram_old.cpython-312.pyc
resources/blueprints/main/attachments/diagrams/client_secret_files/audiance/client_secret_anthonythompson.json
resources/blueprints/main/attachments/diagrams/client_secret_files/audiance/client_secret_hanhgiaphuocthang.json
resources/blueprints/main/attachments/diagrams/client_secret_files/audiance/client_secret_hcmupphuclh.json
resources/blueprints/main/attachments/diagrams/client_secret_files/audiance/client_secret_kiencuongnguyen506.json
resources/blueprints/main/attachments/diagrams/client_secret_files/audiance/client_secret_thienvienphuocsonmedia.json
resources/blueprints/main/attachments/diagrams/client_secret_files/audiance/client_secret_tvphuocson.json
resources/blueprints/main/attachments/diagrams/client_secret_files/performance/client_secret_hanhgiaphuocthang.json
resources/blueprints/main/attachments/diagrams/client_secret_files/performance/client_secret_tapchithegioisao.json
resources/blueprints/main/attachments/diagrams/configs/__pycache__/apikeys_youtube_api.cpython-312.pyc
resources/blueprints/main/attachments/diagrams/configs/__pycache__/APIRequestionFromFiles.cpython-312.pyc
resources/blueprints/main/attachments/diagrams/configs/__pycache__/APIRequestionFromKeys.cpython-312.pyc
resources/blueprints/main/attachments/diagrams/configs/__pycache__/cliensecret_youtube_api.cpython-312.pyc
resources/blueprints/main/attachments/diagrams/configs/__pycache__/file_configuration.cpython-312.pyc
resources/blueprints/main/attachments/diagrams/configs/__pycache__/filenameFetchingConfig.cpython-312.pyc
resources/blueprints/main/attachments/diagrams/configs/__pycache__/sqlalchemyConfig.cpython-312.pyc
resources/blueprints/main/attachments/diagrams/configs/__pycache__/youtubeConfig.cpython-312.pyc
resources/blueprints/main/attachments/diagrams/endpoints/__pycache__/graphOfHomeEndpoint.cpython-312.pyc
resources/blueprints/main/attachments/diagrams/endpoints/home/__pycache__/graphOfCommentExecution.cpython-312.pyc
resources/blueprints/main/attachments/diagrams/endpoints/home/__pycache__/graphOfDataRequestion.cpython-312.pyc
resources/blueprints/main/attachments/diagrams/endpoints/home/__pycache__/graphOfHomeEndpoint.cpython-312.pyc
resources/blueprints/main/attachments/diagrams/endpoints/upload/__pycache__/audiancefiles_upload.cpython-312.pyc
resources/blueprints/main/attachments/diagrams/endpoints/upload/__pycache__/performancefiles_upload.cpython-312.pyc
resources/blueprints/main/attachments/diagrams/programs/__pycache__/YoutubeAPIRequestion.cpython-312.pyc
