/.venv
/.vscode
/workspace/abstractions/__pycache__
/workspace/applications/__pycache__
/workspace/applications/protocols/__pycache__
/workspace/blueprints/__pycache__
/workspace/blueprints/main/attachments/diagrams/__pycache__
/workspace/blueprints/main/attachments/diagrams/configs/__pycache__
/workspace/blueprints/main/attachments/diagrams/endpoints/__pycache__
/workspace/blueprints/main/attachments/diagrams/endpoints/home/__pycache__
/workspace/blueprints/main/attachments/diagrams/endpoints/upload/__pycache__
/workspace/blueprints/main/attachments/diagrams/programs/__pycache__
workspace\blueprints\main\attachments\diagrams\client_secret_files
workspace\blueprints\main\attachments\diagrams\client_secret_files\audiance
workspace\blueprints\main\attachments\diagrams\client_secret_files\performance
resources/abstractions/__pycache__/APIRequestion.cpython-312.pyc
resources/abstractions/__pycache__/blueprints.cpython-312.pyc
resources/abstractions/__pycache__/endpoints.cpython-312.pyc
resources/applications/__pycache__/__init__.cpython-312.pyc
resources/applications/__pycache__/engine.cpython-312.pyc
resources/applications/__pycache__/process.cpython-312.pyc
resources/applications/protocols/__pycache__/blueprints_main_stub.cpython-312.pyc
resources/blueprints/main/attachments/diagrams/__pycache__/index_diagram.cpython-312.pyc
resources/blueprints/main/attachments/diagrams/__pycache__/index_diagram_old.cpython-312.pyc
resources/blueprints/main/attachments/diagrams/client_secret_files/audiance/client_secret_anthonythompson.json
resources/blueprints/main/attachments/diagrams/client_secret_files/audiance/client_secret_hanhgiaphuocthang.json
resources/blueprints/main/attachments/diagrams/client_secret_files/audiance/client_secret_hcmupphuclh.json
resources/blueprints/main/attachments/diagrams/client_secret_files/audiance/client_secret_kiencuongnguyen506.json
resources/blueprints/main/attachments/diagrams/client_secret_files/audiance/client_secret_thienvienphuocsonmedia.json
resources/blueprints/main/attachments/diagrams/client_secret_files/audiance/client_secret_tvphuocson.json
resources/blueprints/main/attachments/diagrams/client_secret_files/performance/client_secret_hanhgiaphuocthang.json
resources/blueprints/main/attachments/diagrams/client_secret_files/performance/client_secret_tapchithegioisao.json
resources/blueprints/main/attachments/diagrams/configs/__pycache__/apikeys_youtube_api.cpython-312.pyc
resources/blueprints/main/attachments/diagrams/configs/__pycache__/APIRequestionFromFiles.cpython-312.pyc
resources/blueprints/main/attachments/diagrams/configs/__pycache__/APIRequestionFromKeys.cpython-312.pyc
resources/blueprints/main/attachments/diagrams/configs/__pycache__/cliensecret_youtube_api.cpython-312.pyc
resources/blueprints/main/attachments/diagrams/configs/__pycache__/file_configuration.cpython-312.pyc
resources/blueprints/main/attachments/diagrams/configs/__pycache__/filenameFetchingConfig.cpython-312.pyc
resources/blueprints/main/attachments/diagrams/configs/__pycache__/sqlalchemyConfig.cpython-312.pyc
resources/blueprints/main/attachments/diagrams/configs/__pycache__/youtubeConfig.cpython-312.pyc
resources/blueprints/main/attachments/diagrams/endpoints/__pycache__/graphOfHomeEndpoint.cpython-312.pyc
resources/blueprints/main/attachments/diagrams/endpoints/home/__pycache__/graphOfCommentExecution.cpython-312.pyc
resources/blueprints/main/attachments/diagrams/endpoints/home/__pycache__/graphOfDataRequestion.cpython-312.pyc
resources/blueprints/main/attachments/diagrams/endpoints/home/__pycache__/graphOfHomeEndpoint.cpython-312.pyc
resources/blueprints/main/attachments/diagrams/endpoints/upload/__pycache__/audiancefiles_upload.cpython-312.pyc
resources/blueprints/main/attachments/diagrams/endpoints/upload/__pycache__/performancefiles_upload.cpython-312.pyc
resources/blueprints/main/attachments/diagrams/programs/__pycache__/YoutubeAPIRequestion.cpython-312.pyc
resources/blueprints/diagrams/__pycache__/index_diagram.cpython-312.pyc
resources/blueprints/diagrams/__pycache__/index_diagram_old.cpython-312.pyc
resources/blueprints/diagrams/client_secret_files/audiance/client_secret_anthonythompson.json
resources/blueprints/diagrams/client_secret_files/audiance/client_secret_hanhgiaphuocthang.json
resources/blueprints/diagrams/client_secret_files/audiance/client_secret_hcmupphuclh.json
resources/blueprints/diagrams/client_secret_files/audiance/client_secret_kiencuongnguyen506.json
resources/blueprints/diagrams/client_secret_files/audiance/client_secret_thienvienphuocsonmedia.json
resources/blueprints/diagrams/client_secret_files/audiance/client_secret_tvphuocson.json
resources/blueprints/diagrams/client_secret_files/performance/client_secret_hanhgiaphuocthang.json
resources/blueprints/diagrams/client_secret_files/performance/client_secret_tapchithegioisao.json
resources/blueprints/diagrams/configs/__pycache__/apikeys_youtube_api.cpython-312.pyc
resources/blueprints/diagrams/configs/__pycache__/APIRequestionFromFiles.cpython-312.pyc
resources/blueprints/diagrams/configs/__pycache__/APIRequestionFromKeys.cpython-312.pyc
resources/blueprints/diagrams/configs/__pycache__/cliensecret_youtube_api.cpython-312.pyc
resources/blueprints/diagrams/configs/__pycache__/file_configuration.cpython-312.pyc
resources/blueprints/diagrams/configs/__pycache__/filenameFetchingConfig.cpython-312.pyc
resources/blueprints/diagrams/configs/__pycache__/sqlalchemyConfig.cpython-312.pyc
resources/blueprints/diagrams/configs/__pycache__/youtubeConfig.cpython-312.pyc
resources/blueprints/diagrams/endpoints/__pycache__/graphOfHomeEndpoint.cpython-312.pyc
resources/blueprints/diagrams/endpoints/home/__pycache__/graphOfCommentExecution.cpython-312.pyc
resources/blueprints/diagrams/endpoints/home/__pycache__/graphOfDataRequestion.cpython-312.pyc
resources/blueprints/diagrams/endpoints/home/__pycache__/graphOfHomeEndpoint.cpython-312.pyc
resources/blueprints/diagrams/endpoints/upload/__pycache__/audiancefiles_upload.cpython-312.pyc
resources/blueprints/diagrams/endpoints/upload/__pycache__/performancefiles_upload.cpython-312.pyc
resources/blueprints/diagrams/programs/__pycache__/YoutubeAPIRequestion.cpython-312.pyc
resources/blueprints/attachments/client_secret_files/audiance/client_secret_anthonythompson.json
resources/blueprints/attachments/client_secret_files/audiance/client_secret_hanhgiaphuocthang.json
resources/blueprints/attachments/client_secret_files/audiance/client_secret_hcmupphuclh.json
resources/blueprints/attachments/client_secret_files/audiance/client_secret_kiencuongnguyen506.json
resources/blueprints/attachments/client_secret_files/audiance/client_secret_thienvienphuocsonmedia.json
resources/blueprints/attachments/client_secret_files/audiance/client_secret_tvphuocson.json
resources/blueprints/attachments/client_secret_files/performance/client_secret_hanhgiaphuocthang.json
resources/blueprints/attachments/client_secret_files/performance/client_secret_tapchithegioisao.json
resources/blueprints/attachments/configs/__pycache__/apikeys_youtube_api.cpython-312.pyc
resources/blueprints/attachments/configs/__pycache__/APIRequestionFromFiles.cpython-312.pyc
resources/blueprints/attachments/configs/__pycache__/APIRequestionFromKeys.cpython-312.pyc
resources/blueprints/attachments/configs/__pycache__/cliensecret_youtube_api.cpython-312.pyc
resources/blueprints/attachments/configs/__pycache__/file_configuration.cpython-312.pyc
resources/blueprints/attachments/configs/__pycache__/filenameFetchingConfig.cpython-312.pyc
resources/blueprints/attachments/configs/__pycache__/sqlalchemyConfig.cpython-312.pyc
resources/blueprints/attachments/configs/__pycache__/youtubeConfig.cpython-312.pyc
resources/blueprints/attachments/programs/__pycache__/YoutubeAPIRequestion.cpython-312.pyc
resources/blueprints/attachments/upload/__pycache__/audiancefiles_upload.cpython-312.pyc
resources/blueprints/attachments/upload/__pycache__/performancefiles_upload.cpython-312.pyc
.bat
env_create.ps1
env_run.ps1
resources/blueprints/attachments/client_secret_files/audiance/client_secret_phuocsonvipassana.json
resources/blueprints/attachments/base/__pycache__/declarative.cpython-312.pyc
resources/blueprints/attachments/DAO/__pycache__/clientDAO.cpython-312.pyc
resources/blueprints/attachments/models/__pycache__/clientModel.cpython-312.pyc
resources/blueprints/attachments/sql/__pycache__/session.cpython-312.pyc
resources/abstractions/__pycache__/DAO.cpython-312.pyc
youtube.db
resources/blueprints/attachments/programs/__pycache__/stringrandom.cpython-312.pyc
resources/blueprints/diagrams/endpoints/home/__pycache__/graphOfAudianceFileUpload.cpython-312.pyc
resources/blueprints/diagrams/endpoints/home/__pycache__/graphOfPerformanceFileUpload.cpython-312.pyc
resources/blueprints/attachments/client_secret_files/audiance/bjvouzwldktgkbvdbdliymmtocinamxkusisgmcdocaxryuoxkhzauqobtzskcoa
resources/blueprints/attachments/client_secret_files/audiance/byyivkfikgrylhrzgnyvligabrlfjsvsownequsaperxeyznrqhejdryckmsmfuh
resources/blueprints/attachments/client_secret_files/audiance/epamwcotgltsusajxkivttabblkhkxrhxmsyfehhiodyguognvfcckrfghlsbtqp
resources/blueprints/attachments/client_secret_files/audiance/eworzcggtvdyrmvyuwqvspkxvbzroztxjabwutgeqhsaepvmikleryoophgtytcs
resources/blueprints/attachments/client_secret_files/audiance/fjvdmnsvaurpdyygxkjeyflamdaaliwnnqliajkwaoiiqqnybavdsqbhgzdvgjlt
resources/blueprints/attachments/client_secret_files/audiance/gartxnpefxdfsllcqlvrsabrujprtqbexxmvxexjwwvagkimrpvxdjadafjzhwwo
resources/blueprints/attachments/client_secret_files/audiance/hgxogvuqdesmnsyqljvygdymlsloseclxcttsavsgrqchbohhmtwwxkytpaipgym
resources/blueprints/attachments/client_secret_files/audiance/inmelnqnewqwznkqlwvsxjwmmeniryptxgsflmdmczgbsusucjscwrvqrktruzvm
resources/blueprints/attachments/client_secret_files/audiance/kiwlpqiebeyghsbdnhgtrsbzpsunekqbmmzfbuxcjpvrbumrtlrmluldhmatbjsq
resources/blueprints/attachments/client_secret_files/audiance/mjpwzjrfzolfdielbbuwlfcbgwrsqiilgyrqwjdehyptgxgjkpsajypvhkauldli
resources/blueprints/attachments/client_secret_files/audiance/pclkcxdtbpjinjhyodpigzfyrbibpwacupiojusrbijfhwsvhcflhomujhsxckwm
resources/blueprints/attachments/client_secret_files/audiance/qgkvijwbougfhjoocbfoybtrfujtheezxwfnfaxsouqlgorcqqthiszbsmjrenek
resources/blueprints/attachments/client_secret_files/audiance/qnpkmmikkgmzfvuauqysicwrvgggghuawddttfmpiplghhaqwibonckrdjoqpzbb
resources/blueprints/attachments/client_secret_files/audiance/qsjirdhxfwwgnpkatahyuzgbhrniliqbivpecwuhdwbvyatnjjadoxdstmcxhqhc
resources/blueprints/attachments/client_secret_files/audiance/ttvjjqbdzslkwcypnscbjqfyvbvfosmrxtdxakjlfjmlogiogigvwrngwbsoqhpi
resources/blueprints/attachments/client_secret_files/audiance/uobugkihhvpluqganuyrfrfwkktwmexfszawcckjjvdkxvtpwxtoathhlioupzxp
resources/blueprints/attachments/client_secret_files/performance/aswakopiqffslaoqxjrzfncoqlxcukyreafuhwlcikwxrrwbvzcabzxqzldyhyah
resources/blueprints/attachments/client_secret_files/performance/ayuzkweyfljiqounopijyvplsamycpdtjfjbxnphesktmiviwdpuprvxwmgkwhaz
resources/blueprints/attachments/client_secret_files/performance/fjgrqdlcbqeztdkouupwitzkbihecaulkczbeptkgyanzwvndjjdjxxsukbcaqej
resources/blueprints/attachments/client_secret_files/performance/menxvmruwakuveszrguniueyborlcudxjgdekcqrfybetcoewokxdkdxhrxgbzte
resources/blueprints/attachments/client_secret_files/performance/mftehrdjywoqfyaxmtlrqcrdnbhxzagoepeshiesfinmjelrxzssdbzsoyyxvciw
resources/blueprints/attachments/client_secret_files/performance/vmrcatqlzverdzliehxhakqpwpxaalzkoqwwisvllkujytlyctlfejnzfonzzkbg
resources/blueprints/attachments/client_secret_files/performance/wqxfahduovojcahltuthlmahwnlzrzxuseagxueizqotjvjdqosygbzukwhwbckr
resources/blueprints/attachments/DAO/__pycache__/reserveAccountsDAO.cpython-312.pyc
resources/blueprints/attachments/models/__pycache__/reserveAccountsModel.cpython-312.pyc
resources/blueprints/diagrams/endpoints/home/__pycache__/graphOfAudianceConfiguration.cpython-312.pyc
resources/blueprints/diagrams/endpoints/home/__pycache__/graphOfInformationRequestie.cpython-312.pyc
resources/blueprints/diagrams/endpoints/home/__pycache__/graphOfPerformanceAccountReserve.cpython-312.pyc
resources/blueprints/diagrams/endpoints/home/__pycache__/graphOfPerformanceConfiguration.cpython-312.pyc
resources/blueprints/diagrams/endpoints/home/__pycache__/graphOfRequirationSwitch.cpython-312.pyc
